/*css开始*/
.vivo_block1{
	height: 80px;
	width: 100%;
	min-width: 1400px;
	border-bottom: 1px #cacaca solid;
}
.vivo_block2{
	height: 80px;
	width: 1400px;
	margin: 0 auto;
}
.vivo_block3{
	width: 95px;
    height: 25px;
    float: left;
    margin-top: 27px;
    background-image: url(../img/vivo-gb-logo.png);
}
.vivo_block4{
	width: 700px;
	height: 80px;
    height: 100%;
    display: table;
    position: relative;
    margin: auto;
    line-height: 80px;
}
.vivo_block2 ul li{
    display: block;
    width: auto;
    height: 100%;
    line-height: 5em;
    white-space: nowrap;
    font-family: FZLanTingHei-L-GBK, GothamBook, helvetica, arial, "Microsoft Yahei", 微软雅黑, sans-serif;
    position: relative;
    font-weight: 200;
    text-align: center;
    font-size: 16px;
    padding: 0px 27px;
    float: left;
    cursor: pointer;
    -webkit-transition: background-color .3s ease,-webkit-transform .3s .42s ease,opacity .3s .42s ease; -moz-transition: background-color .3s ease,-moz-transform .3s .42s ease,opacity .3s .42s ease; transition: background-color .3s ease,transform .3s .42s ease,opacity .3s .42s ease;
}

.vivo_block5{background-color: #008cd6;color: #fff;}
.vivo_block2 ul li:hover{background-color: #008cd6;color: #fff;}

.vivo_block6{
	width: 100%;
	height: 290px;
	background-color: #FFFFFF;
	z-index: 99999;
	opacity: 0.8;
	position: absolute;
	display: none;
}
.vivo_block7{
	width: 1000px;
	height: 210px;
	margin: 0 auto;
	margin-top: 35px;
}
.vivo_block8{
	width: 1000px;
	height: 20px;
}
.vivo_block8 ul{
	width: 1000px;
	height: 20px;
}
.vivo_block8 ul li{
	width: 200px;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	float: left;
	list-style: none;
	font-family: "微软雅黑";
}
.vivo_block8 ul li:hover,.vivo_block9 ul li:hover,.vivo_block10 ul li:hover{color: #008cd6;cursor: pointer;}
.vivo_block9{
	width: 1000px;
	height: 20px;
	margin-top: 30px;
}
.vivo_block9 ul{
	width: 1000px;
	height: 20px;
}
.vivo_block9 ul li{
	width: 200px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	float: left;
	list-style: none;
	font-family: "微软雅黑";
	color: #666666;
}
.vivo_block10{
	width: 1000px;
	height: 20px;
	margin-top: 10px;
}
.vivo_block10 ul{
	width: 1000px;
	height: 20px;
}
.vivo_block10 ul li{
	width: 200px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	float: left;
	list-style: none;
	font-family: "微软雅黑";
	color: #666666;
}

